@model visualarts_cms.Models.Viewmodel.InquiryViewModel

@{
    ViewBag.Title = "Home";
}

<style>
    a.anchor {
        display: block;
        position: relative;
        top: -225px;
        visibility: hidden;
    }
</style>

<div>
    <div class="d-flex flex-row gap-lg-3 my-3" id="home">
        <a class="position-relative w-25 overflow-hidden rounded h-75 shadow" style="max-height: 400px;" href="/Skills/Index">
            <img src="~/Content/site/thumbnail/skillsneeded.jpg" class="img-fluid object-fit-cover" />
            <div class="position-absolute top-0 start-0 w-100 h-100 bg-dark opacity-50"></div>
            <div class="position-absolute bottom-0 start-0 text-white text-outline fw-bold p-3 rounded text-uppercase fs-3">
                Skills needed in visual arts sector
            </div>
        </a>
        <a class="position-relative flex-grow-1 overflow-hidden rounded h-75 shadow" style="max-height:305px;" href="/CurrentTrends/Index">
            <img src="~/Content/site/thumbnail/currenttrends.jpg" class="img-fluid object-fit-cover" />
            <div class="position-absolute top-0 start-0 w-100 h-100 bg-dark opacity-50"></div>
            <div class="position-absolute bottom-0 end-0 text-white text-outline fw-bold p-3 rounded text-uppercase fs-3">
                Current Trends in Visual arts
            </div>
        </a>
    </div>
    <div class="d-flex flex-row mt-5 mb-lg-5 gap-lg-3">
        <div class="w-50 justify-content-center align-content-center">
            <h3 class="m-2 fw-bold">Introduction to Visual Arts Sector</h3>
            <p class="text-justify m-2 mt-4 pe-3 pb-3">
                In the context of ICT (Information and Communication Technology), visual arts refers to the use of digital technology and computational tools to create, manipulate, and present visual artworks. This intersection combines artistic creativity with technological innovation, leveraging digital mediums and software to explore new forms of expression and communication.
            </p>
            <a class="btn btn-secondary fw-bold m-2" href="/CurrentTrends/Index">Learn More</a>
        </div>
        <a class="position-relative w-25 overflow-hidden rounded h-75 shadow" style="max-height: 400px;" href="/Tools/Index">
            <img src="~/Content/site/thumbnail/tool&equipment.jpg" class="img-fluid object-fit-cover" />
            <div class="position-absolute top-0 start-0 w-100 h-100 bg-dark opacity-50"></div>
            <div class="position-absolute bottom-0 start-0 text-white text-outline fw-bold p-3 rounded text-uppercase fs-3">
                Tools and Equipments
            </div>
        </a>
        <a class="position-relative w-25 overflow-hidden rounded h-75 shadow" style="max-height: 400px;" href="/CareerOpportunities/Index">
            <img src="~/Content/site/thumbnail/careeropportunities.jpg" class="img-fluid object-fit-cover" />
            <div class="position-absolute top-0 start-0 w-100 h-100 bg-dark opacity-50"></div>
            <div class="position-absolute bottom-0 start-0 text-white text-outline fw-bold p-3 rounded text-uppercase fs-3">
                Career and Business Opportunities in Visual Arts
            </div>
        </a>
    </div>
    <a class="anchor" id="about"></a>
    <div class="my-md-5 anchor">
        <h2 class="fw-bold text-uppercase">About Us</h2>
        <p class="my-4 text-justify">
            Welcome to VisuArts, an innovative web module designed to provide the essential knowledge required for the upcoming new curriculum, particularly in the ICT: Visual Arts sector. This platform aims to empower students by offering valuable knowledge and learning materials that cater specifically to their academic needs.
        </p>
        <p class="my-4 text-justify">VisuArts was developed by a team of dedicated students—Matt Nathaniel Solano, Camille Eunice Doblada, Rafaela Vallestero, and Mark Angelo Garcia—who created the project as part of their undergraduate thesis requirement. The primary goal of the website is to help students and educators succeed in their studies by providing a user-friendly and informative platform.</p>
    </div>
    <a class="anchor" id="contact"></a>
    <div class="my-md-5 anchor">
        <h2 class="fw-bold text-uppercase">Get in Touch</h2>
        <div class="d-flex flex-row gap-lg-3">
            <div class="w-50 justify-content-center align-content-center">
                <p class="mx-2">For inquiries, suggestions, collaboration, or other concerns, you can submit them to us using the form provided.</p>
            </div>
            <div class="w-50 justify-content-center align-content-center">
                <div class="card d-flex flex-column align-items-center justify-content-center shadow" style="height:450px;">
                    @using (Html.BeginForm("SubmitInquiry", "Home", FormMethod.Post, new { enctype = "multipart/form-data", @class = "w-100 text-center" }))
                    {
                        @Html.TextBoxFor(m => m.Name, new { @class = "my-3 w-75 form-control required mx-auto", @placeholder = "Name", @required = "required" })
                        @Html.TextBoxFor(m => m.Email, new { @class = "my-3 w-75 form-control required mx-auto", @placeholder = "E-mail Address", @required = "required" })
                        @Html.TextAreaFor(m => m.Message, new { @class = "my-3 w-75 h-25 form-control required mx-auto", @placeholder = "What do you want to say?", @required = "required" })
                        <button class="btn btn-secondary w-75 mt-5 mb-2">Message Us</button>
                    }
                </div>
            </div>
        </div>
    </div>
    <p class="my-lg-5"></p>
    <p class="my-lg-5"></p>
    <p class="my-lg-5"></p>
    <p class="my-lg-5"></p>

    <div class="modal fade" id="promptModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        var message = '@ViewBag.MessagePrompt';
        $.ajax({
            url: '@Url.Action("ShowModalPrompt", "Home")',
            type: 'GET',
            success: function (data) {
                $('#promptModal .modal-content').html(data);
                if (message != "") {
                    $('#promptModal').modal('show');
                }
            }
        });
    });
</script>