@model IList<visualarts_cms.Models.Viewmodel.CurrentTrendViewModel>

@{
    ViewBag.Title = "Restore Current Trends";
}

<div>
    <div>
        <div class="head my-lg-4 fw-bolder">
            <h3>Restore Current Trends</h3>
        </div>
        <div class="d-flex justify-content-between my-4">
            <div>
                <a href="@Url.Action("Index", "AdminCurrentTrends")" class="btn btn-warning" role="button" id="restoreBtn"><i class="bi bi-box-arrow-in-left"></i> Go Back</a>
            </div>
        </div>
        <table id="myTable" class="display">
            <thead>
                <tr>
                    <th></th>
                    <th style="display: none;"></th>
                    <th>Title</th>
                    <th>Content</th>
                    <th>Created Date</th>
                    <th>Updated Date</th>
                    <th style="width: 50px;" class="no-sort"></th>
                    <th style="width: 50px;" class="no-sort"></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td></td>
                        <td style="display: none;">@Html.DisplayFor(m => item.CurrentTrendId)</td>
                        <td>@Html.DisplayFor(m => item.Title)</td>
                        <td>@Html.DisplayFor(m => item.Content)</td>
                        <td>@Html.DisplayFor(m => item.CreatedDateStr)</td>
                        <td>@Html.DisplayFor(m => item.UpdatedDateStr)</td>
                        <td style="width: 50px;"><a href="@Url.Action("ViewRestore", "AdminCurrentTrends", new {id = item.CurrentTrendId})" class="btn btn-primary" role="button"><i class="bi bi-file-earmark-richtext-fill"></i></a></td>
                        <td style="width: 50px;"><button class="btn btn-success" role="button" id="restoreBtn" data-bs-toggle="modal" data-bs-target="#restoreModal"><i class="bi bi-arrow-counterclockwise"></i></button></td>
                    </tr>
                }
            </tbody>
        </table>

        <div class="modal fade" id="restoreModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        var dataTable = $('#myTable').DataTable(
            {
                ordering: true,
                columnDefs: [
                    {
                        "orderable": true,
                        "targets": 1,
                    },
                    {
                        orderable: false,
                        targets: "no-sort"
                    },
                ],
            }
        );

        dataTable.on('order.dt search.dt', function () {
            let i = 1;
            dataTable.cells(null, 0, { search: 'applied', order: 'applied' })
                .every(function (cell) {
                    this.data(i++);
                });
        }).draw();

        $("#myTable").on("click", ".btn-success", function () {
            var row = $(this).closest("tr");
            var viewData = row.find("td:eq(1)").text();
            $.ajax({
                url: '@Url.Action("ShowModalRestore", "AdminCurrentTrends")',
                data: { id: viewData },
                type: 'GET',
                success: function (data) {
                    $('#restoreModal .modal-content').html(data);
                }
            });
        });
    });
</script>
